<form name="personForm" ng-submit="saveData(person)">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 ng-show="person._id!=null">Muokkaa ihmistä</h2>
      <h2 ng-hide="person._id!=null">Luo uusi ihminen</h2>   
      <table class="table table-condensed" id="create_edit_table">
        <tr>
          <td><label class="edit_label rightfloat">Etunimi:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="firstname" ng-model="person.firstname" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Sukunimi:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="lastname" ng-model="person.lastname" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Lähiosoite:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="address" ng-model="person.address" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Postinumero:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="postalcode" ng-model="person.postalcode" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Kaupunki:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="city" ng-model="person.city" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Puhelinnumero:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="phone" ng-model="person.phone" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Sähköposti:</label></td>
          <td>
            <input type="email" class="form-control input-sm" name="email" ng-model="person.email" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Sos.turvatunnus:</label></td>
          <td>
            <input type="text" class="form-control input-sm" name="socsec" ng-model="person.socsec" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Sukupuoli:</label></td>
          <td>
            <div class="radio-inline">
              <input type="radio" class="radio" name="gender" ng-model="person.gender" value="Mies" ng-required="!gender">Mies
            </div>
            <div class="radio-inline">
              <input type="radio" class="radio" name="gender" ng-model="person.gender" value="Nainen" ng-required="!gender">Nainen
            </div>
            <div class="radio-inline">
              <input type="radio" class="radio" name="gender" ng-model="person.gender" value="Muu" ng-required="!gender">Muu
            </div>
          </td>
        </tr>
      </table> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <table class="table table-condensed">
        <tr>
          <td><label class="edit_label rightfloat">Voimakkuus:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="strength" ng-model="person.strength" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Taitavuus:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="agility" ng-model="person.agility" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Yleiskunto:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="constit" ng-model="person.constit" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Älykkyys:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="intell" ng-model="person.intell" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Viisaus:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="wisdom" ng-model="person.wisdom" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
        <tr>
          <td><label class="edit_label rightfloat">Karisma:</label></td>
          <td>
             <input type="number" class="form-control input-sm" name="charisma" ng-model="person.charisma" min="1" max="20" ng-required="true"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <div class="well hidden-sm hidden-xs">
        <span class="glyphicon glyphicon-hand-left"></span> Ihmisen ominaisuudet asetetaan tieteellisesti asteikolla<br/> 1-20.
      </div>
      <div id="buttons_box">
        <input type="submit" value="Päivitä" class="btn btn-primary" ng-show="person._id!=null"/>
        <input type="submit" value="Tallenna" class="btn btn-primary" ng-hide="person._id!=null"/>
        <a ui-sref="persons" class="btn btn-warning">Peruuta</a>
      </div>
    </div>
  </div>
</form>