<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Ihmisen <i>{{person.firstname}} {{person.lastname}}</i> tiedot <span class="rightfloat"><small><a ui-sref="edit({id:person._id})">Muokkaa</a> | <a href="#" ng-click="deletePerson(person._id)">Poista</a></small></span></h4>
    <table class="table table-condensed">
      <tr>
        <td>Etunimi:</td><td>{{person.firstname}}</td>
      </tr>
      <tr>
        <td>Sukunimi:</td><td>{{person.lastname}}</td>
      </tr>
      <tr>
        <td>Osoite:</td><td>{{person.address}}</td>
      </tr>
      <tr>
        <td>Postinumero:</td><td>{{person.postalcode}}</td>
      </tr>
      <tr>
        <td>Kaupunki:</td><td>{{person.city}}</td>
      </tr>
      <tr>
        <td>Puhelinnumero:</td><td>{{person.phone}}</td>
      </tr>
      <tr>
        <td>Sähköposti:</td><td>{{person.email}}</td>
      </tr>
      <tr>
        <td>Sosiaaliturvatunnus:</td><td>{{person.socsec}}</td>
      </tr>
      <tr>
        <td>Sukupuoli:</td><td>{{person.gender}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <table class="table table-condensed">
      <tr>
        <td>Voimakkuus:</td><td class="attr">{{person.strength}}</td>
      </tr>
      <tr>
        <td>Taitavuus:</td><td class="attr">{{person.agility}}</td>
      </tr>
      <tr>
        <td>Yleiskunto:</td><td class="attr">{{person.constit}}</td>
      </tr>
      <tr>
        <td>Älykkyys:</td><td class="attr">{{person.intell}}</td>
      </tr>
      <tr>
        <td>Viisaus:</td><td class="attr">{{person.wisdom}}</td>
      </tr>
      <tr>
        <td>Karisma:</td><td class="attr">{{person.charisma}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <a ui-sref="persons" class="btn btn-warning">Takaisin</a>
  </div>
</div>