<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped" ng-if="persons.length>0">
      <tr>
        <td><input class="form-control" ng-model="search" placeholder="Haku"/></td>
        <td>
          <select class="form-control" ng-model="city" ng-options="person.city for person in persons | unique: 'city' | orderBy: 'city'">
            <option value="">Valitse kaupunki</option>
          </select>
        </td>
        <td>
          <span><sup>* Ei toimi vielä ihan täysillä</sup></span>
        </td>
      </tr>
      <tr>
        <th>Nimi</th>
        <th>Kaupunki</th>
        <th>Tiedot</th>
      </tr>
      <tr ng-repeat="person in persons | filter: city | filter: search | orderBy: 'city' track by $index">
        <td>{{person.firstname}} {{person.lastname}}</td>
        <td>{{person.city}}</td>
        <td>
          <a ui-sref="details({id:person._id})">Näytä</a> 
        </td>
      </tr>
    </table>
    <div ng-if="persons.length==0">
      Ei löytynyt mitään!
    </div>
  </div>
</div>